html {
    font-family: sans-serif;
    background-color: gainsboro;
}

body{
    width: 600px;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 3px 3px 3px dimgray;
}

h1{
    text-align: center;
}

p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 16px;
    line-height: 3;
    letter-spacing: 1px;
}

ul {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    text-align: left;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
}

img{
     border-width: 1px;
     border-color: black;
     border-style: solid;
 }


#waifu-name{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


 #waifu-pic{
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: auto;
     width: 480px;
 }

 /* table styling start */
 #waifu-info-table{
     margin-left:auto;
     margin-right:auto;
     margin-top: 10px;
     margin-bottom: 10px;
 }

td{
    padding:2px;
}
/* table styling end */

/* Youtube styling start */
#waifu-youtube{
    display: block;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Youtube styling end*/


 #change-user-btn{
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
 }